{% extends 'admin.base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">CRÉER MENU</p>
                    </div>
                    <div class="card-body">
                        {{ include('menu/_form.html.twig',{button_label:'Ajouter', canDelete: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
